@font-face {
  font-family: 'mySite'; /* 1. 任意のフォント名を指定 */
  src: url('fonts/MOBO-Bold.otf') format('opentype'); /* 2. ファイルのパスと形式 */
  font-weight: normal;
  font-style: normal;
}
body {
   font-family: "mySite", "Noto Sans CJK JP", sans-serif;
  overflow-x: hidden;
}

#top{
  position: relative;
  right: 0.1%;
  border: 1px solid black;
  width: 99vw
}

div.pageTitle{
  position: relative;
  text-align: center;
  display=flex;
  width: 100vw;
  right: 2%;
  font-size: 250%;
}

.flex{
  display: flex;
/*  margin: 3% 0 0 0;*/
}

#title{

  position: relative;
  left: 3%;
  /*margin: -2.8% 0 0 3%;*/
}
#titleIcon{
  position: relative;
  left: 42%;
  bottom: 100%;
  height: 20%;
  width: 20%;
}
#subTitle{
  margin: 0 0 0 3.5%;
}

#box{

  position: fixed;
  bottom: 1%;
  width: 99%;
  height: auto;
}

span.pageTitle{
  position: relative;
  left: 3%;
}

hr.hr{
  position: relative;
  right: 20%;
}

div.mokuji{
  font-size: 50%;
  position:relative;
  left: 35%;

  border: 1px solid black;
  width: 35vw;
}

li{

  text-align: left;
}

p.yukkuri{
  text-align: center;
  position: relative;
  left: 4%;
}



#posts{
  position: relative;
  bottom: 25%;
}

.txt{
  right: 5%;
}

h1.latest{
  margin: 0 0 0 15%;
  text-decoration: underline
}

.yohaku{
  width:50vw;
  position: relative;
  left: 25%;
}

.clips{
  position: relative;
  left: 15%;
  width: 70vw;
  border: 1px solid black;
}
